@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.bg-login-hero {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBJ6srPyct35xL75Cueu8Vi9Y_gkw6GjScMRzhuXCV545Z2xtSA9Q_ZNo2bS1yc_5oUBZi0XftR-Bx8NleuW_KW860RFMJaxcdb-TlcE_2OxetuRr30uoSpFQBbeXh2yybRz2F_qf5hhanDu-xLfJ0Su59-zrihTJ03DRIo3PtZHiKUnVMJBjaJNGEvo3QNKXQiUMsEYrHNxZAuZNEXrsgyOYDbduG9ioYhT7zlqY8rC_EVkzbRZgwWTspJ92HSFb0JiIeuplqRV67O");
}

.bg-reg-hero {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBJ6srPyct35xL75Cueu8Vi9Y_gkw6GjScMRzhuXCV545Z2xtSA9Q_ZNo2bS1yc_5oUBZi0XftR-Bx8NleuW_KW860RFMJaxcdb-TlcE_2OxetuRr30uoSpFQBbeXh2yybRz2F_qf5hhanDu-xLfJ0Su59-zrihTJ03DRIo3PtZHiKUnVMJBjaJNGEvo3QNKXQiUMsEYrHNxZAuZNEXrsgyOYDbduG9ioYhT7zlqY8rC_EVkzbRZgwWTspJ92HSFb0JiIeuplqRV67O");
}


.form-input-container:focus-within label {
  color: #136dec;
  /* Using the primary color directly to avoid @apply issues if any */
}

.article-content {
  font-family: "Lora", serif;
}